<h2><%= @subsidiary.name %></h2>
<p>CNPJ: <%= @subsidiary.cnpj %></p>
<p>Endereço: <%= @subsidiary.address %></p>

<%= link_to  "Editar", edit_subsidiary_path(@subsidiary) %>
<%= link_to  "Deletar", subsidiary_path(@subsidiary), method: :delete, 
                        data: {confirm: 'Você tem certeza?'}%>
<%= link_to  "Voltar", root_path %>