<nav>
  <ul>
    <% if user_signed_in? %>
      Olá, <%= current_user.email %>
      <li><%= link_to  "Sair", destroy_user_session_path, method: :delete %></li>
    <% else %>      
      <li><%= link_to  "Entrar", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<p>Rental Cars</p>
<p>Bem vindo ao sistema de gestão de locação</p>
<ul>
  <li><%= link_to 'Fabricantes', manufacturers_path %></li>
  <li><%= link_to  "Filiais", subsidiaries_path %></li>
  <li><%= link_to  "Categorias de Carro", car_categories_path %></li>
  <li><%= link_to  "Clientes", clients_path %></li>
  <li><%= link_to  "Modelos de Carro", car_models_path %></li>
</ul>